.NavBar {
  background-color: #003d32;
  color: #fcd734;
  line-height: 1;
  font-size: 16px;
  width: 100%;
  position: fixed;
  top: 0;
  transition-property: top;
  transition-duration: 0.25s;
  transition-timing-function: linear;
  left: 0;
  right: 0;
  box-shadow: 0 1px 10px 3px rgba(0, 0, 0, 0.15),
    0 1px 4px 1px rgba(0, 0, 0, 0.15);
  height: 60px;
  z-index: 1;
}

.NavBar.NavBar--hidden {
  top: -56px;
}

.NavBar__container {
  background-color: #003d32;
  padding: 16px;
  width: 100%;
  max-width: 944px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  z-index: 1;
  position: absolute;
  background-color: #003d32;
  height: 60px;
}

.NavBar a {
  color: #fcd734;
  text-decoration: none;
}

.NavBar--marquee {
  font-size: 20px;
}

.NavBar--hamburger {
  margin: 0;
  border: 0;
  padding: 0;
  margin-right: 16px;
  background-color: rgba(0, 0, 0, 0);
  color: #fcd734;
  font-size: 24px;
  outline: none;
  width: 27px;
  text-align: center;
  cursor: pointer;
}

.NavBar--large {
  display: none;
}

.SubNav {
  display: grid;
  grid-template-columns: 27px auto;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  row-gap: 16px;
  column-gap: 16px;
  font-size: 20px;
  line-height: 1;
  padding: 0 16px 32px 16px;
  position: absolute;
  top: 60px;
  z-index: 0;
  background-color: #003d32;
  width: 100%;
  transition-property: top;
  transition-duration: 0.25s;
  transition-timing-function: linear;
  box-shadow: 0 1px 10px 3px rgba(0, 0, 0, 0.15),
    0 1px 4px 1px rgba(0, 0, 0, 0.15);
}

.SubNav--hidden {
  top: -160px;
  box-shadow: none;
}

.SubNav--link-name {
  text-align: left;
  font-size: 24px;
}

.SubNav svg {
  margin-top: 2px;
}

@media screen and (min-width: 400px) {
  .NavBar--marquee {
    font-size: 24px;
  }
}

@media screen and (min-width: 750px) {
  .NavBar__container {
    justify-content: space-between;
    position: initial;
  }

  .NavBar--large {
    display: initial;
  }

  .NavBar--hamburger,
  .SubNav {
    display: none;
  }
}
