.NavBar {
  background-color: #003d32;
  color: #fcd734;
  line-height: 1;
  font-size: 16px;
  width: 100%;
  position: fixed;
  top: 0;
  transition-property: top;
  transition-duration: 0.25s;
  transition-timing-function: linear;
  left: 0;
  right: 0;
  box-shadow: 0 1px 10px 3px rgba(0, 0, 0, 0.15),
    0 1px 4px 1px rgba(0, 0, 0, 0.15);
}

.NavBar.NavBar--hidden {
  top: -56px;
}

.NavBar__container {
  padding: 16px;
  width: 100%;
  max-width: 944px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.NavBar a {
  color: #fcd734;
  text-decoration: none;
}

.NavBar--marquee {
  font-size: 20px;
}

@media screen and (min-width: 400px) {
  .NavBar--marquee {
    font-size: 24px;
  }
}
